.icon {
    display: inline-flex;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.icon-lg {
    width: 55px;
    height: 55px;
}

.icon-profile {
    background-image: url(/assets/images/prof-pic.png);}

.icon-general {
    background-image: url(/images/general.png);
}

.icon-password {
    background-image: url(/assets/images/password.png)
}

.icon-message {
    background-image: url(/assets/images/message.png);
}

.icon-billing {
    background-image: url(/assets/images/billing.png);
}

.icon-apps {
    background-image: url(/assets/images/apps.png);
}

.icon-log-out {
    background-image: url(/assets/images/log-out.png);
}
